.profile {
    display: flex;
    flex-direction: column;
    background-color:blanchedalmond;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.description {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descitem {
    margin: 0;
}
.stats {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
